*,
 *::after,
 *::before {
   box-sizing: border-box;
}

 body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

/* Main content */

.main-content {
  padding: 60px 0px 60px 55px;
  width: 830px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* About me */

.about-me {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-me-description {
  text-align: justify;
  width: 90%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My certificates */

.my-certificates,
.my-projects {
  margin-bottom: 50px;
}

.my-certificates-list,
.my-projects-list {
  counter-reset: num;
  padding: 0 0 0 2px;
  text-align: left;
}

.my-certificates-item,
.my-projects-item,
.my-certificates-bracket,
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  list-style-type: none;
}

.my-certificates-item::before,
.my-projects-item::before {
  content: counter(num) ". ";
  counter-increment: num;
}

.my-certificates-text,
.my-projects-text {
  margin-left: 10px;
}

.my-certificates-text-first,
.my-projects-text-first {
  margin-left: 13px;
}

.my-certificates-text,
.my-projects-text,
.my-certificates-link,
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-certificates-link:hover,
.my-projects-link:hover {
  color: #000000;
}

.my-work-experience-company {
  margin: 0 0 10px 0;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-work-experience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.my-recomendations {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-recomendations-link {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-recomendations-link:visited {
  text-decoration: none;
}

.my-recomendations-link:hover {
  color: black;
}

.my-work-experience-duties {
  padding: 0 0 0 24px;
  width: 90%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-education {
  margin-top: 40px;
}

.my-education-university {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.my-education-speciality {
  margin: 10 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.my-education-period {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my-work-company-site {
  text-decoration: underline;
}

.my-work-company-site:visited {
  text-decoration: none;
}

.my-work-company-site:hover {
  color: #000000;
}

.orangecolor {
  color: #fb6d3a;
}

/* Sidebar */

.sidebar {
  background-color: #1e2939;
  width: 370px;
  /* padding: 40px 0; */
}

.contacts,
.tech-skills,
.soft-skills {
  margin-top: 50px;
  margin-left: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Contacts */

.cellphone,
.irish-cellphone {
  display: flex;
  flex-direction: row;
}

.telegram {
  background: url(https://cdn-icons-png.flaticon.com/512/2111/2111646.png) no-repeat 50% 50%;
  background-size: 21px 21px;
  display: block;
  width: 21px;
  height: 21px;
  margin-left: 5px;
}

.telegram:hover {
  background: url(https://cdn-icons-png.flaticon.com/512/2111/2111710.png) no-repeat 50% 50%;
  background-size: 21px 21px;
}

.whatsapp {
  background: url(https://i.postimg.cc/wxsvYMhj/whatsapp-icon-1.png) no-repeat 50% 50%;
  background-size: 21px 21px;
  display: block;
  width: 21px;
  height: 21px;
  margin-left: 5px;
}

.whatsapp:hover {
  background: url(https://i.postimg.cc/7Z6Q55HD/whatsapp-icon-2.png) no-repeat 50% 50%;
  background-size: 21px 21px;
}

.viber {
  background: url(https://i.postimg.cc/Z9B4qH5q/viber-icon-1.png) no-repeat 50% 50%;
  background-size: 21px 21px;
  display: block;
  width: 21px;
  height: 21px;
  margin-left: 5px;
}

.viber:hover {
  background: url(https://i.postimg.cc/gwCdLhxH/viber-icon-2.png) no-repeat 50% 50%;
  background-size: 21px 21px;
}

.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
  text-decoration-line: underline;
}

.contacts-link:hover {
  color: #ffffff;
}

/* Tech Skills */

.tech-skills-list,
.soft-skills-list {
  margin: 0 0 0 0;
  padding: 0 0 0 17px;
}

.tech-skills-item,
.soft-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Adaptive */

@media(max-width: 1200px) {
  .main-conteiner {
    display: block;
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    display: flex;
    padding: 40px 0;
  }
  .my-photo {
    width: 300px;
    margin-left: 40px;
  }
  .contacts {
    width: 427px;
    margin-left: 40px;
  }
  .tech-skills,
  .soft-skills {
    margin-left: 20px;
    width: 200px;
  }
  .soft-skills {
    margin-right: 10px;
  }
}

@media(max-width: 947px) {
  .sidebar {
    display: block;
  }
  .contacts,
  .tech-skills,
  .soft-skills {
    margin-top: 50px;
    margin-left: 40px;
  }
}

@media(max-width: 800px) {
.main-content {
  padding: 40px 10px 30px 10px;
}
.about-me-description {
  width: 100%;
}
.my-certificates-list,
.my-projects-list {
  counter-reset: num;
  padding: 0 0 0 0;
}
.my-certificates-item,
.my-projects-item,
.my-certificates-bracket,
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
.my-certificates-text,
.my-projects-text {
  margin-left: 0px;
}
.my-certificates-text-first,
.my-projects-text-first {
  margin-left: 3px;
}
.my-certificates-text,
.my-projects-text,
.my-certificates-link,
.my-projects-link {
  font-size: 11px;
  line-height: 20px;
}
.my-work-experience-duties {
  width: 100%;
}
.my-photo {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.sidebar {
  padding: 0 0;
}
}

@media(max-width: 500px) {
  .my-photo {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .contacts {
    width: 90%;
  }
  .sidebar {
    padding: 0 0;
  }
}